body, *{
	padding: 0;
	margin: 0;
}

body{
	background-image: url(priroda.jpg);
}

.wrapper{
	max-width: 650px;
	margin: 25px auto;
}

.header{
	height: 75px;
	width: 100%;
	background-image: url("logo.jpg");
	position: relative;
}

.text p{
	margin: 25px;
}

.text{
	background-color: #F4F4F4;
	overflow: hidden;
	/*position: relative;*/
}
.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }

.rightimg  {
    float: right; /* Выравнивание по правому краю  */ 
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
   }
.tex{
	text-align:  center;
}
/*------------------------------------------------------------*/




    .slide {
        width: 650px;
        height: 300px;
        border: 0 solid #888;
        position: relative;
        text-align: center;
    }
	.slide  input {
        display: none;
    }

    .slide  input + label {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 8px;
        background: rgba(90, 90, 90, 0.8);
        border: 2px solid rgba(190, 190, 190, 0.8);

        cursor: pointer;

        z-index: 100;
		
        position: relative;

        margin-right: 4px;
        top: 90%;

        transition: background 0.8s ease-out 0s;
    }

    .slide  input + label:hover {
        background: rgba(250, 250, 250, 0.8);
    }

    .slide  input:checked + label {
        background: rgba(220, 220, 220, 0.8);
    }
	
    .slide  div {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 0;
    }
	
    .slide  div {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
    }

    
	
    .slide  input:checked + label + div {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
    }
	
    .slide  div  p {
        position: absolute;
		font-size:18px;
        top: 0px;
        left: 0px;
        right: 0px;
        text-align: center;
        color: #fff;
        text-shadow: 2px 2px 3px #222;
    }
	
	